<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>botoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Botões</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non rhoncus velit. Mauris hendrerit massa nec risus porta, sit amet semper ante dignissim. Nulla facilisi. Sed justo erat, aliquet vitae sem sed, bibendum congue nibh. Fusce dignissim justo eget condimentum porttitor. Maecenas eu erat facilisis, luctus mauris sit amet, cursus odio. Donec imperdiet nec ligula eget tristique. Morbi ac dui lectus. Cras porta urna fermentum lacinia euismod.
  </p>
</ion-content>
